@using BILET_16_MPA_101.ViewModels
@model DepartmentCreateVM

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Create Department</h2>

            <form method="post">
                <div class="form-group mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Department Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
